.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.register-container{
  padding:10px;
  margin-left:10% ; 
  margin-right:10% ;
  align-items: left;
}
.register-container{
border:groove;
border-color:lightgray;
border-radius:1.5rem;
display:inline-block;
margin-top:90px;
margin-bottom:130px;

}

.login-container{
  padding:10px;
  margin-left:20% ; 
  margin-right:40% ;
  align-items: left;
}
.login-container{
border-color:lightgray;
border-radius:1.5rem;
}


nav.navbar.navbar-expand-sm.bg-dark.navbar-dark{
  line-height:2.5;
}

.side-nav.default-theme{
  margin:0px;
}

.side-nav.default-theme
{background-color:#2f4050!important;}
 .side-nav-item-title
 {padding: 10px 20px 10px 10px;

   color:#a7b1c2;
   display:block;
   font-size:2rem !important;
   font-weight:600;
   text-decoration:none
  }
 .side-nav-item-title:hover{
   color:#a7b1c2;
   text-decoration:none
  }
 .side-nav-item-title:hover{
   background-color:#293846;
   color:#fff
  }
 .side-nav-item{
  padding: 10px 20px 10px 10px;
  position:relative;
  border:10px !important;
  border-color:white !important;
  font-size:2rem!important;
  }

  .dashboard-container{
    background-color: #e9ecef;
    height:70px;
    margin-bottom:50px;
    padding-top: 10px;
    font-family: -webkit-body;
  }
  .total-dash-container{
    width:85%;
  }
  .dashboard-left-container{
    color:green;
    width: 15%;
    background-color: #e9ecef;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
    margin-left:15%;
    margin-right:20%;
    border-radius: 0.5em;
    border: red solid;

  }
  .dashboard-right-container{
    color:red;  
    width: 15%;
    background-color: #e9ecef;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
    margin-left:20%;
    margin-right:15%;
    border-width: 10px;
    border-color:green;
    border-radius: 0.5em;
    border: green solid;

  }
  .dashboard-right-container> span{
    font-size:30px;
  }
  .dashboard-left-container> span{
    font-size:30px;
  }
  .sky-container{
    border-width:10px;
    border-color:pink;
  }
  .bar-container{
    width:25%;
  }
.sub-comp-container{
  width:75%;
}
.dashboardheader{
  padding-left:20px;
}
.side-nav-item-link  {
  font-size:1.8rem !important;
}
th{
  text-align:center;
}
.error{
  margin-left: 5px;
  font-size: 13px;
  color: rgb(174, 0, 255);
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 800px;
  padding: 20px;
  text-align: center;
  cursor :pointer;  
}
.bg-text:hover {
  background-color: rgba(139, 30, 30, 0.4); /* Black w/opacity/see-through */
  color:black;
  border-color:black;


}
.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-menu{
  background-color:#343a40;
  opacity:0.8;
}
.drop-spec{
  margin:5px;
  color:white;
  background-color:lightgray;
  font-size:16px;
  border-radius:5px

}
.vl{
  border-left: 3px solid gray;
  height: inherit;
}

.main-description{
  padding:10px;
  margin-left:10% ; 
  margin-right:10% ;
  align-items: left;
}
.main-description{
border-color:lightgray;
border-radius:1.5rem;
display:inline-block;
margin-top:90px;
margin-bottom:130px;

}
.text-content{
  font-size:20px;
  line-height:40px;
  font-family:'Gill Sans';
}
.text-header{
  font-size:40px;
  padding-bottom:30px;
}
.cold-container{
  height:860px
}
.pink-bar{
  width:10px !important ;
}
.glow { text-shadow: 0px 0px 5px gold; 
}
.marquee{
  animation: marquee 7s linear infinite;
} 
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(0, 99%); }
}
.css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
 }
 .css-serial td:first-child>span:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
 }

 .clickable:hover{
   background-color: darkgray;
   cursor: pointer;
   color:white;
 }
 .vote-ellipsis{
  max-width: 190px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
 }